In [2]:
import pandas as pd

# calculate series mean, std and sem using pandas: can also be calculated on dataframe

In [3]:
data = pd.read_csv("data.txt",header=None)
data

          0
0   -1422.1
1   -1417.0
2   -1416.0
3   -1415.5
4   -1372.0
..      ...
495 -1454.4
496 -1473.0
497 -1448.6
498 -1462.1
499 -1445.4

[500 rows x 1 columns]

In [7]:
data[0].mean()

-1432.0593999999999

In [8]:
data[0].std() # uses N-1 to Normalize by default; use ddof=0 to use N intead of N-1

22.96656390833228

In [10]:
data[0].sem() # standard error of mean

1.0270959621724844