In [34]:
import numpy as np
import pandas as pd

In [45]:
array1 = ['B3LYP', 'B3LYP', 'M062X', 'M062X', 'PBE0', 'PBE0', 'HF', 'HF']
array2 = ['SVP', 'TZVP', 'SVP', 'TZVP', 'SVP', 'TZVP', 'SVP', 'TZVP']
tuples = list(zip(array1,array2))
ind = pd.MultiIndex.from_tuples(tuples)
df = pd.DataFrame(np.random.randn(8, 4),index=ind,columns=["rand1","rand2","rand3","rand4"])
df.to_latex()

'\\begin{tabular}{llrrrr}\n\\toprule\n   &      &     rand1 &     rand2 &     rand3 &     rand4 \\\\\n\\midrule\nB3LYP & SVP & -0.500725 &  0.442464 &  0.877651 &  0.855091 \\\\\n   & TZVP &  0.594542 &  0.589846 &  1.180630 & -0.188972 \\\\\nM062X & SVP & -0.073749 & -0.320843 & -0.245528 & -1.321795 \\\\\n   & TZVP &  0.449212 & -1.399994 &  1.332403 & -0.009660 \\\\\nPBE0 & SVP &  0.266755 & -0.094182 & -1.445592 &  1.915740 \\\\\n   & TZVP & -0.596479 &  0.006909 & -1.844222 &  0.551327 \\\\\nHF & SVP &  0.865826 & -1.272397 &  0.189112 &  0.233455 \\\\\n   & TZVP & -0.051898 &  0.513370 &  0.174451 & -0.665907 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [36]:
df1 = df.unstack()
df1

          rand1               rand2               rand3               rand4  \
            SVP      TZVP       SVP      TZVP       SVP      TZVP       SVP
B3LYP -1.933450 -0.471100 -1.523689 -2.231547 -0.338915  0.002341  1.687569
HF     0.643500 -1.784391  0.376782  0.686539  1.283433 -0.350220  0.378365
M062X  0.035785 -0.115607 -2.295707  0.020500  0.541011  0.002253  1.052822
PBE0   0.098404  0.282683  1.923725  0.395726 -2.514036  0.976085  0.698300


           TZVP
B3LYP  0.324895
HF     1.182443
M062X  1.468703
PBE0  -1.118654

In [47]:
df.stack()
df.index.names=['Method','Basis']
df

                 rand1     rand2     rand3     rand4
Method Basis
B3LYP  SVP   -0.500725  0.442464  0.877651  0.855091
       TZVP   0.594542  0.589846  1.180630 -0.188972
M062X  SVP   -0.073749 -0.320843 -0.245528 -1.321795
       TZVP   0.449212 -1.399994  1.332403 -0.009660
PBE0   SVP    0.266755 -0.094182 -1.445592  1.915740
       TZVP  -0.596479  0.006909 -1.844222  0.551327
HF     SVP    0.865826 -1.272397  0.189112  0.233455
       TZVP  -0.051898  0.513370  0.174451 -0.665907

In [69]:
df.loc['B3LYP']

          rand1     rand2     rand3     rand4
Basis
SVP   -0.500725  0.442464  0.877651  0.855091
TZVP   0.594542  0.589846  1.180630 -0.188972

In [48]:
df1

          rand1               rand2               rand3               rand4  \
            SVP      TZVP       SVP      TZVP       SVP      TZVP       SVP
B3LYP -1.933450 -0.471100 -1.523689 -2.231547 -0.338915  0.002341  1.687569
HF     0.643500 -1.784391  0.376782  0.686539  1.283433 -0.350220  0.378365
M062X  0.035785 -0.115607 -2.295707  0.020500  0.541011  0.002253  1.052822
PBE0   0.098404  0.282683  1.923725  0.395726 -2.514036  0.976085  0.698300


           TZVP
B3LYP  0.324895
HF     1.182443
M062X  1.468703
PBE0  -1.118654

In [38]:
rand1 = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
rand1

        data1     data2
a 1  0.154238  0.556899
  2  0.880367  0.063774
b 1  0.686542  0.413547
  2  0.742055  0.190510

In [39]:
rand2 = rand1.unstack()
rand2

      data1               data2
          1         2         1         2
a  0.154238  0.880367  0.556899  0.063774
b  0.686542  0.742055  0.413547  0.190510

In [40]:
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
test = pd.DataFrame(index=data)
test['rand']=data.values()

In [41]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [42]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [43]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [44]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [79]:
data=np.random.rand(6,4)
cols=pd.MultiIndex.from_arrays([['B3LYP','B3LYP','PBE0','PBE0'],['SVP','TZVP','SVP','TZVP']])
datacol = pd.DataFrame(data,columns=cols,index=["rand" + str(i) for i in range(1,7)])
datacol

          B3LYP                PBE0
            SVP      TZVP       SVP      TZVP
rand1  0.684406  0.970513  0.739623  0.597381
rand2  0.480527  0.451124  0.065774  0.544722
rand3  0.158292  0.998643  0.508017  0.059050
rand4  0.169953  0.329009  0.864227  0.652445
rand5  0.704826  0.056943  0.593130  0.394485
rand6  0.760356  0.157149  0.468753  0.046347

In [97]:
datacol[[['B3LYP','SVP'],['PBE0','TZVP']]]

          B3LYP      PBE0
            SVP      TZVP
rand1  0.684406  0.597381
rand2  0.480527  0.544722
rand3  0.158292  0.059050
rand4  0.169953  0.652445
rand5  0.704826  0.394485
rand6  0.760356  0.046347